﻿
<head>
    <script src="js/main.js"></script>
</head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Flyff Wiki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="LoadHome();">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="LoadRelease();">Releases</a>
                </li>
            </ul>
        </div>
    </nav>
