﻿<div class="alert alert-success" role="alert">
    <h3 class="alert-heading" id="WelcomeTitle">Willkommen,</h3>
    <p>hier findet ihr alles zum Thema Flyff Privat Server erstellen.</p>
    <hr>
    <p class="mb-0"></p>
</div>