﻿body
{

}

.navbar-brand {
    padding-left: 20px;
    padding-right: 100px;
}

.content {
    max-width: 52%;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 20px;
    font-size:70%;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}